.Header-background{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.Header-Benefit{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}
.Header-Benefit div:not(.Header-Benefit-content){
padding: 0 !important;
}
.Header-Benefit-image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}
.Header-Benefit-image img{
  width: 80%;
}
.Header-Benefit-content{
  flex-basis: 60%;
  max-width: 60%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

.Header-illustration{
  position: absolute;
  z-index: -1;
  top:-40px;
  height: 380px;
}

.Header-main{
  margin-bottom: 2em;

}
.Header-Titulo {
  align-content: center;
  width: 40%;
}

.container{
  margin: 0 auto;
}




.fade-scale-enter {
  opacity: 0;
  transform: scale(0);
}

.fade-scale-enter.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-scale-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-scale-exit.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.title-found {
  display: inline-flex;
  margin-bottom: 10px;
  margin-left: 0;
}
.Botones-Inicio{
  position: absolute;
  float: right;
  width: 99%;
    margin-top: 30px;
    margin-right: 10px;
    display: block;
}
.Botones-Inicio div{
  margin-bottom: 10px;
  text-align: right;
}

.cards {
  display: inline-flex;
  width: 30%;
  margin: 10px;
  flex-wrap: wrap;
}
.CardMedia {
  width: 100%;
  height: 50%;
}



/*login*/
.col-xs-12 {
  padding-right: 0;
  text-align: center;
}
.col-sm-6 {
  padding-left: 0;
}


.TextField{
margin-left: 20%;
margin-right: 20%;
width: 30% !important;
align-content: center;

}
.Login-actions {
margin-top: 2rem;
}
.login-background {
height: 100vh;
background-size: cover;
background-position: center;
}
.login-form {
  text-align: center;
}


.AppBar {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: red;

  width: 100%;
}

.buscador{
 display: inline-flex;
 align-items: center;
 align-content: center;
 justify-content: center;
 width: 100%;
}
.buscador div{
  text-align: left;
  margin: .5em;
  width: 20%;
}

.footer {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-content: center;
  justify-content: center;

}
.iconos-footer {
width: 50px;
}
.footer-left{
  display: block ;
  width: 40%;
}
.horizontal-footer{
  display: flex;
}
.horizontal-footer div {
  width: 50%;
  text-align: left;
  margin: 10px;
}
.horizontal-footer div:first-child {
  width: 20%;
}
.horizontal-footer div:nth-child(n+1) {
  color: white;
}


.footer-rigth{
  color: white;
  width: 40%
}
.redes-sociales {
  display: inline-flex;
}
.redes-sociales div {
  margin: 5px;
}

.footer{
  display: inline-flex;
  width: 100%;
}
